{% extends 'base.html.twig' %}

{% block title %}Emonk Task{% endblock %}

{% block body %}


<div class="container mt-5">
    <h1>Crear Tarea</h1>
<div class="card">
    <div class="card-body">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
</div>
    
</div>
{% endblock %}
